/* viewprofile.css */

.container {
    margin-top: 20px;
}

.space-y-6 > * + * {
    margin-top: 1.5rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.mb-3,
.mb-lg-0 {
    margin-bottom: 1rem;
}

.d-block {
    display: block;
}

.w-100 {
    width: 100%;
}

.card-body {
    padding: 1.25rem;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.profile-card {
    padding: 20px;
    border-radius: 10px;
}
.profile-name {
    font-size: 24px;
    font-weight: bold;
}

.profile-info {
    margin-top: 20px;
}

.workingat,
.studyingat,
.livingat,
.speaking {
    color: #de3163;
    font-weight: bold;
    width: 90px;
    display: inline-block;
    text-align: left;
    margin-right: 10px;
}
.livingat {
    margin-bottom: 10px;
}

.profile-line {
    width: 100%;
    height: 1px;
    background-color: #de3163;
    margin: 20px 0;
    margin-bottom: 20px;
}

.profile-bio {
    max-height: 100px;
    overflow: auto;
}

/* Fixed position button */
.fixed-bottom {
    position: fixed;
    bottom: -10;
    left: 0;
    width: 100%;
    z-index: 999;
}

/* Button style */
.btn-send-message {
    font-size: 16px;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    background-color: #de3163;
}

/* Hover effect */
.btn-send-message:hover {
    background-color: #b61a47;
}

@media (max-width: 768px) {
    .fixed-bottom {
        position: static;
        margin-top: 20px;
    }
}

.profile-others {
    display: flex;
    align-items: center;
}

.profile-others > div {
    margin-right: 10px;
}

.profile-others > div:last-child {
    margin-right: 0;
}

.profile-others > div::after {
    content: "|";
    margin-left: 10px;
}

.profile-tagline {
    margin-bottom: 10px;
    font-weight: bold;
    color:#de3163
}

.favorites-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.favorite-square {
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #de3163;
    color: white;
    font-weight: bold;
    position: relative;
}

.icon {
    font-size: 3rem;
    position: absolute;
    top: 10px;
    left: 10px;
    padding-right: 40px;
}

.favorite-item {
    font-size: 1.5rem; /* Adjust the font size as needed */
}