.sideform {
    border-bottom: 1px solid var(--spk-color-primary-2);
    border-right: 0px;
}
.search {
    height: 85vh;
}
.row {
    padding: 0;
}
@media (min-width: 992px) {
    .sideform {
        border-bottom: 0px;
        border-right: 1px solid var(--spk-color-primary-2);
    }
}